.twist-drawer {
  width: 40%;
  padding: 2rem;
  position: fixed;
  overflow: hidden;
  right: -1000px;
  top: 0;
  bottom: 0;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.twist-drawer.active {
  right: 0;
}

@media only screen and (max-width: 900px) {
  .twist-drawer {
    width: 100%;
  }
}
